.name h3 {
	text-align: center;
	padding-top: 20px;
}
#motorola .frame {
	background-color: #FFFFFF;
}
#motorola .frame img {
	padding-top: 23.5%;
	padding-bottom: 23.5%;
}
#anyspace .frame {
	background-color: #F3F3F3;
}
#anyspace .frame img {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}
#floodlight .frame {
	background-color: #b6bec5;
}
#floodlight .frame img {
	padding-top: 22.5%;
	padding-bottom: 22.5%;
}
#iit .frame {
	background-color: #FFFFFF;
}
#iit .frame img {
	padding-top: 19%;
	padding-bottom: 19%
}
#hdj .frame {
	background-color: #291202;
}
#hdj .frame img {
	height: 95%;
	width: auto;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	padding-left: 22%;
	padding-right: 22%;
}
#personal .frame img {
	height: 90%;
	width: auto;
	padding-top: 2.6%;
	padding-bottom: 2.6%;
	padding-left: 24%;
	padding-right: 24%;
}

#portfolio h3 a {
	color: black;
	font-size: 30px;
}

.frame img {
	width: 84.541062801932%;
	height: auto;
	margin: auto;
	padding-left: 7.729468599%;
	padding-right: 7.729468599%;
}

#portfolio {
	margin-top: 50px;
	margin-left: calc(50% - 535px);		/* TODO: check math */
}
#portfolio > div {
	float: left;
	/*width: 310.5px;
	height: 219.75px;*/
	/*width: 25.85333%;*/
	/*width: 25%;*/
	width: 300.75px;
	/*height: 22.5%;
	margin-top: 50px;*/
	margin-bottom: 85px;
	/*margin-right: 135px;*/
	margin-right: 8%;
}
.portfolio #portfolio > div {
	height: 350px;
}
#portfolio > div:nth-child(3n+0) {
	margin-right: 0;
}

.super-adapt #portfolio > div:nth-child(3n+0) {
	margin-right: 8%;
}
.super-adapt #portfolio > div:nth-child(2n+0) {
	margin-right: 0;
}

.adaptive #portfolio > div:nth-child(1n+0) {
	margin: 0 auto;
}


#portfolio > div.clear {
	margin-bottom: 0;
}




.mobile #portfolio {
	width: 300.75px;
}
.mobile #portfolio > div {
	margin-bottom: 0;
}